* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;

  --gray-50: #F8F8F8;
  --gray-100: #D7D7D7;
  --gray-200: #BBBBBB;
  --pink-500: #FF57B2;
  --black-500: #1A1D23
}

body {
  background: var(--black-500);
  color: var(--gray-100);
}


html {
  @media (max-width:1080px) {
    font-size: 93.75%;
  }

  @media (max-width:720px) {
    font-size: 82.5%;
  }
}

body, input, textarea, select, button {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
