.HomeContent {
  a {
    display: block;
    margin-bottom: 3rem
  }

  strong {
    color: var(--gray-50);
    font-size: 1.8rem
  }

  p {
    margin-top: .5rem
  }

  span {
    color: var(--gray-200);
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 1.25rem;

    time {
      margin-right: 0.5rem;
      text-transform: capitalize;
    }

    svg {
      margin-right: 0.5rem;

      & + svg {
        margin-left: 1rem;
      }
    }
  }
}

.HomeFooter {
  margin-top: 4.75rem;

  button {
    background: none;
    border: none;
    color: var(--pink-500);
    cursor: pointer;
  }
}
