.postContainer {
  header {
    height: 105px;
  }
}

.postImage {
  position: relative;
  height: 400px;
  width: 100%;
}

.post {
  padding-top: 4rem;

  h1 {
    font-size: 3rem;
  }
}

.postInfo {
  margin: 1.5rem 0 4rem;
  color: var(--gray-200);

  &Header {
    display: flex;
    align-items: center;

    time {
      text-transform: capitalize;
    }

    p {
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }

    svg {
      stroke: var(--white);
      margin-right: 0.5rem;
    }
  }

  &Edited {
    font-size: .8rem;
    font-style: italic;
    margin-top: .8rem;
  }

}

.postContent {
  margin-top: 4rem;

  h2 {
    font-size: 2.2rem;
  }

  article {
    margin: 3rem 0;
    line-height: 25px;

    margin-top: 2rem;

    p, ul {
      margin: 1.5rem 0;
    }

    li {
      margin: .5rem 0;
    }

    a {
      color: var(--pink-500);
    }
  }
}

.postNavigation {
  border-top: 1px solid rgba(215, 215, 215, .1);
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  margin-top: 4rem;

  [data-nav="prev"],
  [data-nav="next"] {
    flex: 1;

    span {
      color: --gray-50;
      display: block;
      font-size: 1.2rem;
      margin-bottom: .5rem;
    }

    a {
      color: var(--pink-500);
    }
  }

  [data-nav="next"] {
    text-align: right;
  }
}

